/* 
  Palette Colors

  #454040
  #605B51
  #D8D365
  #E6F082
  #AB4545
*/

html {
  height: 100%;
  width: 100%;

  background-color: #454040;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}


canvas {
  border: 10px solid #605B51;
  background-color: #D8D365;
}

#game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#score, #high-score {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#game-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#game-menu > h1 {
  color: #D8D365;
  font-size: 4rem;
}
